sidebar-container {
  display: flex;
  flex-direction: column;
  width: 23%;
  transition: width 0.3s ease;
  background-color: #f8f9fa; /* Světle šedé pozadí */
  border-right: 1px solid #ddd;
}

.sidebar-container.collapsed {
  width: 0%;
}

.toggle-button {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.sidebar {
  padding: 15px;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.list-group {
  margin-top: 15px;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.1s;
}

.list-group-item:hover {
  background-color: var(--bs-primary);
  color:#f8f9fa;
}

.list-group-item.active {
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary) !important;
  color: white;
  font-weight: bold;
}

.status-section {
  margin-top: 20px;
}

.status-section .badge {
  padding: 10px 15px;
  font-size: 16px;
}

[data-bs-theme="dark"] .sidebar {
  background-color: #000000 !important;
}

[data-bs-theme="dark"] .sidebar-container {
  background-color: #000000 !important;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 60%;
  }
  .sidebar-container.collapsed {
    width: 15%;
  }
  .list-group-item {
    padding: 10px;
  }
  .toggle-button {
    min-width: 50px;
  }
}
.hover-none:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.btn-primary {
  background-color: rgba(var(--bs-primary-rgb), 1) !important;
  border-color: rgba(var(--bs-primary-rgb), 1) !important;
}

.btn-primary:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.8) !important;
  border-color: rgba(var(--bs-primary-rgb), 0.8) !important;
}

.btn-primary:active {
  background-color: rgba(var(--bs-primary-rgb), 0.7) !important;
  border-color: rgba(var(--bs-primary-rgb), 0.7) !important;
}

.btn-secondary {
  background-color: rgba(var(--bs-secondary-rgb), 1) !important;
  border-color: rgba(var(--bs-secondary-rgb), 1) !important;
  color: white;
}
.btn-secondary:hover {
  background-color: rgba(var(--bs-secondary-rgb), 0.8) !important;
  border-color: rgba(var(--bs-secondary-rgb), 0.8) !important;
}
.btn-secondary:active {
  background-color: rgba(var(--bs-secondary-rgb), 0.7) !important;
  border-color: rgba(var(--bs-secondary-rgb), 0.7) !important;
}

.btn-outline-secondary {
  background-color: transparent !important;
  border-color: rgba(var(--bs-secondary-rgb), 1) !important;
  color: rgba(var(--bs-secondary-rgb), 1) !important;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease !important;
}

.btn-outline-secondary:hover {
  background-color: rgba(var(--bs-secondary-rgb), 0.15) !important;
  border-color: rgba(var(--bs-secondary-rgb), 1) !important;
  color: rgba(var(--bs-secondary-rgb), 1) !important;
}

.btn-outline-secondary:active {
  background-color: rgba(var(--bs-secondary-rgb), 0.25) !important;
  border-color: rgba(var(--bs-secondary-rgb), 1) !important;
  color: rgba(var(--bs-secondary-rgb), 1) !important;
}

.btn-outline-secondary:disabled {
  background-color: transparent !important;
  border-color: rgba(var(--bs-secondary-rgb), 0.5) !important;
  color: rgba(var(--bs-secondary-rgb), 0.5) !important;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-success {
  background-color: rgba(var(--bs-success-rgb), 1);
  border-color: rgba(var(--bs-success-rgb), 1);
  color: white;
}

.btn-warning {
  background-color: rgba(var(--bs-warning-rgb), 1);
  border-color: rgba(var(--bs-warning-rgb), 1);
  color: black;
}

.btn-danger {
  background-color: rgba(var(--bs-danger-rgb), 1);
  border-color: rgba(var(--bs-danger-rgb), 1);
  color: white;
}
